.add-position--active {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    width: 320px;
    top: 15%;
    left: 45%;
    z-index: 120;
}

.add-position--hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    width: 320px;
    top: 0;
    left: 45%;
}


.add-position {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .08);
    background: #fff; 

    & .add-position__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    }

}