.profile__add-employee {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    align-content: center;
    padding: 20px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .08);
    max-width: 320px;
    width: 320px;
    border-radius: 10px;
    background: #fff;

    & select {
        padding: 20px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, .08);
        width: 80%;
    }
}


.add-employee--hidden {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    position: fixed;
    left: 45%;
    top: 0;
    z-index: 10;
    margin: 0 auto;
}

.add-employee--active {
    width: 320px;
    background: #fff;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    z-index: 110;
    position: absolute;
    left: 45%;
    top: 15%;
}